<textarea id="bibtex_input" style="display:none;">
@book{book1,
  author = "Donald Knuth",
  title = "Concrete Mathematics"
}

@book{ANTLR,
	author = {Terence Parr},
	edition = {First},
	interhash = {d9ef4ed82183b86b6a3004161de5ea44},
	intrahash = {1688029f4c14bd3b234933a48e902c03},
	publisher = {Pragmatic Bookshelf},
	series = {Pragmatic Programmers},
	title = {The Definitive ANTLR Reference: Building Domain-Specific Languages},
	url = {http://www.amazon.com/Definitive-ANTLR-Reference-Domain-Specific-Programmers/dp/0978739256%3FSubscriptionId%3D13CT5CVB80YFWJEPWS02%26tag%3Dws%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0978739256},
	year = 2007,
	ean = {9780978739256},
	keywords = {Me:MastersThesis antlr compilers languages lexers parsers programming},
	asin = {0978739256},
	description = {Amazon.com: The Definitive ANTLR Reference: Building Domain-Specific Languages (Pragmatic Programmers): Terence Parr: Books},
	isbn = {0978739256},
	biburl = {http://www.bibsonomy.org/bibtex/21688029f4c14bd3b234933a48e902c03/gron},
	dewey = {005.45},
	month = May
}
</textarea>