<style type="text/css">

img { /* The style applies anytime an img tag is used */
  vertical-align: middle;
  margin-bottom: 0.50em;
}

span { /* The style applies anytime a span tag is used */
  font-size: 1em;
  padding-left: 0.5em;
  padding-right: 5em;
  font-variant: small-caps;
}

.bio { /* The style applies only to div class bio */
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 1em; 
}

hr { /* The style applies anytime a hr tag is used */
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

</style>